# Data
data_module/events
data_module/lineups
data_module/faiss_index
data_module/match_metadata.json
data_module/player_level_stats.csv
data_module/player_level_stats_wwa.csv
data_module/player_level_stats_wwa_full.csv
data_module/explore.py

#database backup
database_backup/*
# Chatbot module
chatbot_module/cost_approximation.py

# Virtual environment
.env
venv/
etc/
# Local DB
user_db/*
sqlite_schema.sql

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*$py.class
.DS_Store